.Pokedex-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.Pokedex-title {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5em;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    color: #FF69B4;
    margin: 0px;
}

.Pokedex-win {
    color: green;
}

.Pokedex-lose {
    color: red;
}

.Pokedex-exp {
    text-align: center;
    font-size: 2em;
    letter-spacing: 2px;
    font-weight: bold;
    color: white;
}